[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipreqs = "*"
pipenv = "*"
jupytext = "*"
pylint = "*"
pytest = "<=5.0.1"
rope = "*"
pytest-cov = "*"
invoke = "*"

[packages]
appnope = {version = "*",sys_platform = "== 'darwin'"}
attrs = "*"
beakerx = "*"
beautifulsoup4 = "*"
bokeh = "*"
chartify = "*"
click = "*"
colorcet = "*"
Cython = "*"
cytoolz = "*"
decorator = "*"
ftfy = "*"
gensim = "==3.8.1"
holoviews = "*"
humanfriendly = "*"
ipywidgets = "==7.5.1"
joblib = "*"
jupyterlab = "==1.2.6"
jupyter_bokeh = "*"
lxml = "*"
markdown = "*"
matplotlib = "*"
networkx = "*"
nltk = "*"
numba = "*"
numpy = "*"
openpyxl = "*"
pandas = "*"
pandas-bokeh = "*"
py4j = "*"
pydotplus = "*"
pyemd = "*"
pywin32 = {version = "*",sys_platform = "== 'win32'"}
python-louvain = "*"
scattertext = "*"
scikit-learn = "==0.22.1"
scipy = "*"
Scrapy = "*"
seaborn = "*"
spacy = "==2.2.3"
sql_magic = "*"
statsmodels = "*"
textacy = "==0.10.0"
tqdm = "*"
traitlets = "*"
typing = "*"
wordcloud = "*"
xlrd = "*"
yapf = "*"

[requires]
python_version = "3.7"
