*.pyc
*.swp
*.swo
*.gz
*.bin
*.pickle
*.pickel
*.npy
*.xlsx
*.csv
*.log
*.zip
userlist
.env*
.env
.venv/
tmp/
__pycache__/
.pytest_cache/
.mypy_cache/
output.xml
**/output/
**/data/
**/secrets/
data/
.ipynb_checkpoints/
.vscode/
.spyproject/
.coverage
desktop.ini
nohup.out
clone/
trashcan
output
log
lint-analysis
clone
archive
tCoIR
.RData
.Rhistory
lib
whl

secrets/
userlist
ipycytoscape
.DS_Store