*.pyc
*.swp
*.swo
*.gz
*.bin
.venv/
tmp/
__pycache__/
.pytest_cache/
output.xml
**/output/
**/data/
data/
.ipynb_checkpoints/
.vscode/
.spyproject/
desktop.ini
nohup.out
clone/
*.pickle
*.pickel
*.npy
*.xlsx
*.csv
trashcan
output
