[MASTER]
init-hook='import sys, os; sys.path.append((lambda d: os.path.join(os.getcwd().split(d)[0], d))("welfare_state_analytics"))'
jobs=0
ignore=.ipynb_checkpoints,.git,data,test_data,deprecated,.pytest_cache,__pycache__,bin

[MESSAGES CONTROL]

disable=invalid-name,
        missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        line-too-long,
        no-self-use,
        pointless-string-statement,
        global-statement,
        c-extension-no-member,
        too-few-public-methods,
        logging-format-interpolation,
        logging-fstring-interpolation,
        consider-using-enumerate,
        unnecessary-comprehension,
        # misplaced-comparison-constant,
        broad-except,
        wrong-import-order,
        duplicate-code


[REPORTS]
score=no

[SPELLING]
max-spelling-suggestions=4

[VARIABLES]
#callbacks=cb_,
#          _cb

[DESIGN]

max-args=8

[MISCELLANEOUS]

notes=
#notes=FIXME, XXX, TODO

[EXCEPTIONS]

overgeneral-exceptions=BaseException
    #, Exception

