[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipreqs = "*"
pipenv = "*"
jupytext = "*"
pylint = "*"
pytest = "*"
rope = "*"

[packages]
cytoolz = "*"
decorator = "*"
scikit-learn = "*"
scipy = "*"
spacy = "*"
textacy = "*"
gensim = "*"
nltk = "*"
bokeh = "*"
matplotlib = "*"
wordcloud = "*"
scattertext = "*"
jupyterlab = "*"
ipywidgets = "*"
beakerx = "*"
networkx = "*"
pydotplus = "*"
python-louvain = "*"
pandas = "*"
humanfriendly = "*"
traitlets = "*"
typing = "*"
py4j = "*"
lxml = "*"
beautifulsoup4 = "*"
openpyxl = "*"
xlrd = "*"
statsmodels = "*"
Cython = "*"
sql_magic = "*"
Scrapy = "*"
pytest = "<=5.0.1"
yapf = "*"

[requires]
python_version = "3.7"
