[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipreqs = "*"
pipenv = "*"
jupytext = "*"
pylint = "*"
rope = "*"
invoke = "*"
nbstripout = "*"
pytest = "*"
pre-commit = "*"
coverage = "*"

[packages]
appnope = {version = "*",sys_platform = "== 'darwin'"}
attrs = "*"
beakerx = "==1.4.1"
beautifulsoup4 = "*"
bokeh = "*"
bs4 = "*"
click = "*"
colorcet = "*"
Cython = "*"
cytoolz = "*"
decorator = "*"
ftfy = "*"
gensim = "*"
holoviews = "*"
humanfriendly = "*"
ipyaggrid = "*"
ipycytoscape = "*"
ipykernel = "*"
ipympl = "*"
ipywidgets = "*"
joblib = "*"
jupyter-bokeh = "*"
jupyterlab = "*"
lxml = "*"
markdown = "*"
matplotlib = "*"
memoization = "*"
more-itertools = "*"
mypy = "*"
networkx = "*"
nltk = "*"
numba = "*"
numpy = "*"
openpyxl = "*"
pandas = "*"
pandas-bokeh = "*"
py4j = "*"
pydotplus = "*"
pyemd = "*"
python-dotenv = "*"
python-louvain = "*"
qgrid = "*"
scattertext = "*"
scikit-learn = "*"
scipy = "*"
Scrapy = "*"
seaborn = "*"
spacy = "==2.3.2"
sql_magic = "*"
statsmodels = "*"
textacy = "==0.10.1"
tqdm = "*"
traitlets = "==4.3.3"
wordcloud = "*"
xlrd = "*"
xmltodict = "*"
yapf = "*"

[requires]
python_version = "3.8.5"
