[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipreqs = "*"
pipenv = "*"
jupytext = "*"
pylint = "*"
pytest = "<=5.0.1"
rope = "*"
pytest-cov = "*"
invoke = "*"

[packages]
beakerx = "*"
beautifulsoup4 = "*"
bokeh = "*"
Cython = "*"
cytoolz = "*"
decorator = "*"
gensim = "*"
humanfriendly = "*"
ipywidgets = "*"
jupyterlab = "*"
lxml = "*"
matplotlib = "*"
networkx = "*"
nltk = "*"
numba = "*"
openpyxl = "*"
pandas = "*"
py4j = "*"
pydotplus = "*"
python-louvain = "*"
scattertext = "*"
scikit-learn = "*"
scipy = "*"
Scrapy = "*"
spacy = "*"
sql_magic = "*"
statsmodels = "*"
textacy = "*"
traitlets = "*"
typing = "*"
wordcloud = "*"
xlrd = "*"
yapf = "*"
pyemd = "*"
click = "*"
joblib = "*"
tqdm = "*"
pandas-bokeh = "*"
chartify = "*"
seaborn = "*"
colorcet = "*"
holoviews = "*"
markdown = "*"
attrs = "*"
ftfy = "*"

[requires]
python_version = "3.7"
